# Loggigng
loguru==0.7.2

# For working with excel files
openpyxl==3.2.0b1
pandas==2.2.1

# PostgreSQL DBAPI
asyncpg==0.29.0
psycopg==3.1.18
psycopg-pool==3.2.1
psycopg-binary==3.1.18

# ORM
sqlalchemy==2.0.29

# For validation data
pydantic==2.6.4
pydantic-settings==2.2.1

# For API
fastapi==0.110.2
uvicorn==0.29.0

python-multipart==0.0.9
minio==7.2.7
